
<div id="box1" class="box boxbg box-sizing middle-class fixed row">
  <div class="box-content column horizontalalign_e"><%= image_tag ("box1.png"), class: "img-responsive"%></div>
  <div class="box-content column">
    <h1 class="middle-class">Welcome to Truffle GMBH</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum felis nulla, quis varius felis egestas non. Cras tempus pulvinar lorem, ac porta diam interdum ut. Morbi orci sapien, ullamcorper at libero vitae, iaculis dapibus sapien. Donec interdum magna justo, in aliquet mauris vulputate ut. Integer sagittis a nibh vel congue. Proin tempus libero id ornare tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet scelerisque lorem. Nam tempor sagittis odio, at aliquet turpis ornare sit amet. Donec auctor vitae leo sit amet lobortis. Nullam egestas felis vel pharetra faucibus.Donec auctor vitae leo sit amet lobortis. Nullam egestas felis vel pharetra faucibus.Morbi orci sapien, ullamcorper at libero vitae, iaculis dapibus sapien. Donec interdum magna justo, in aliquet mauris vulputate ut. Integer sagittis a nibh vel congue. Proin tempus libero id ornare tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet scelerisque lorem</p>
  </div>
</div>