
<div id="box4" class="box boxbg box-sizing middle-class fixed row">
  <div class="box-content  column">
    <h1 class="middle-class">News</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum felis nulla, quis varius felis egestas non. Cras tempus pulvinar lorem, ac porta diam interdum ut. Morbi orci sapien, ullamcorper at libero vitae, iaculis dapibus sapien. Donec interdum magna justo, in aliquet mauris vulputate ut. Integer sagittis a nibh vel congue. Proin tempus libero id ornare tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet scelerisque lorem. Nam tempor sagittis odio, at aliquet turpis ornare sit amet. Donec auctor vitae leo sit amet lobortis. Nullam egestas felis vel pharetra faucibus.

      Mauris lobortis porttitor sem in tempor. Etiam interdum venenatis quam, eu posuere augue mattis et. Vestibulum rutrum ligula vitae leo volutpat, eu eleifend arcu vehicula. Cras blandit at metus a convallis. Maecenas ullamcorper laoreet nisi. Integer faucibus arcu vel nibh fermentum porttitor eu posuere eros. Nunc porta finibus lectus nec porta. Nunc tempus, urna et suscipit ornare, nisl mi sagittis erat, a porttitor massa leo quis tortor. Praesent elementum commodo dui, id elementum nulla viverra a. Duis blandit semper risus. Phasellus non eleifend est.</p>
  </div>
  <div class="box-content horizontalalign_e2 column"><%= image_tag ("box4.png"), class: "img-responsive"%></div>
</div>
