<div id="box5" class="box boxbg box-sizing-small middle-class fixed row">
  <div class="box-content column horizontalalign_e2"><%= image_tag ("box5.png"), class: "img-responsive"%></div>
  <div class="box-content column">
    <h1 class="middle-class">Contact us!</h1>
<%#ADD CONTACT BOX FUNCTIONALITY %>
    <p class="middle-class verticalalign">Contact form will go here when i make it</p>


    </div>
  </div>
</div>