<div class="footer box-footer boxbg footer-custom">
  <div class="row">
    <div class="column">Newsletter form will go here when i make it</div>
    <div class="column">
      <p>Miasto, Dolny śląsk 12-345</p>
      <p>+46 123 456 789</p>
      <p>contact@truffle.com</p>
    </div>
  </div>
  <p><%= simple_format "All rights reserved - Truffel © 2021 - #{Date.today.year}"  %></p>
</div>