.footer-custom{
  margin-top:3em;
  margin-left:-20em;
  margin-right:-20em;
}
.footer{
  position: page;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.box-footer{
  width: auto;
  height: auto;
  padding: 2em;
  border: 2px black;
  align-content: center;
  border-radius: 25px;
}